[user]
	email = lennart.kloock@protonmail.com
	name = Lennart Kloock
	signingkey = BD7BC3F7279A3CAE
[commit]
	gpgsign = true
[core]
	editor = helix
	pager = delta
[init]
	defaultbranch = main
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[push]
	autoSetupRemote = true
